.container {
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    min-height: 800px;
    box-sizing: border-box;
    display: flex;
}

aside {
    background-color: azure;
    width: 25%;
    padding: 20px;
    border-radius: 10px;
}

aside ul {
    margin: 0;
    font-weight: bold;
    list-style-type: none;
}

aside ul li {
    margin-bottom: 30px;
    text-decoration: underline;
    color: darkseagreen;
    font-size: 1.2rem;
    cursor: pointer;
}

#router_outlet {
    padding: 10px 20px 20px 40px;
    width: 75%;
}