<div class="container">
  <aside>
    <ul>
      <li><a routerLink="home"        routerLinkActive="active_link">Home</a></li>
      <li><a routerLink="services"    routerLinkActive="active_link">Services</a></li>
      <li><a routerLink="observables" routerLinkActive="active_link">Observables</a></li>
      <li><a routerLink="routing"     routerLinkActive="active_link">Routing</a></li>
    </ul>
  </aside>

  <div id="router_outlet">
    <router-outlet></router-outlet>
  </div>
</div>

<p>Copyright All rights reserved</p>